<mat-toolbar class="dashboardToolBar">
  <div class="iconAndTitle">

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="mat-18">menu</mat-icon>
    </button>

    <img class="fundooIcon" src="/../assets/Keep.png">

    <div class="dashboardTitle">{{headerName}}</div>

  </div>

  <div class="searchToolBar">

    <button mat-icon-button>
      <mat-icon class="mat-18">search</mat-icon>
    </button>
    <input class="searchInputBar" type="text" placeholder="search">

  </div>

  <div>

    <button mat-icon-button matTooltip="Refresh">
      <mat-icon class="refresh">refresh
      </mat-icon>
    </button>
    <button mat-icon-button matTooltip="List view">
      <mat-icon class="mat-18">view_module</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="setting" matTooltip="Setting">
      <mat-icon class="settings">settings
      </mat-icon>
    </button>
    <mat-menu #setting="matMenu">
      <button mat-menu-item>settings</button>
      <button mat-menu-item>Send Feedback</button>
      <button mat-menu-item>Help</button>
      <button mat-menu-item>AppDownlaod</button>
      <button mat-menu-item>KeyBoard Shortcuts</button>



    </mat-menu>
  </div>

  <div>
    <button mat-icon-button matTooltip="Google app">
      <mat-icon class="mat-18">apps </mat-icon>
    </button>


    <button mat-icon-button matTooltip="Notifications">
      <mat-icon class="notifications">notifications
      </mat-icon>
    </button>

    <button class="accountButton" [matMenuTriggerFor]="accountMenu">S</button>
  </div>

</mat-toolbar>


<mat-menu #accountMenu="matMenu">
  <span>sowndar</span>
  <button mat-menu-item (click)="logout()">
    <mat-icon class="mat-18">power_settings_new</mat-icon> Logout
  </button>
</mat-menu>


<mat-drawer-container class="example-container">
  <mat-drawer #sidenav mode="side" opened="true">
    <div>
      <button mat-button [routerLink]="['addNote']" (click)="headerName='Notes'" [ngClass]="{'sideNavListItems': headerName!='Fundoo Notes', 'sideNavlistItemsColored': headerName=='Fundoo Notes'}">
        <mat-icon>lightbulb_outline</mat-icon> Notes
      </button>
    </div>
    <div>
      <button mat-button [routerLink]="['remainder']" (click)="headerName='remainder'" [ngClass]="{'sideNavListItems': headerName!='Reminders', 'sideNavlistItemsColored': headerName=='Reminders'}">
        <mat-icon>notifications_none</mat-icon> Reminders
      </button>
    </div>
    <div>
      <button mat-button (click)="openDialog()" class="sideNavListItems">
        <mat-icon>edit</mat-icon> Edit Labels
      </button>
    </div>
    <div>
      <button mat-button [routerLink]="['archive']" (click)="headerName='archive'" [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
        <mat-icon>archive</mat-icon> Archive
      </button>
    </div>
    <div>
      <button mat-button [routerLink]="['trash']" (click)="headerName='trash'" [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
        <mat-icon>delete</mat-icon> Trash
      </button>
    </div>
  </mat-drawer>
  <!-- <mat-accordion >
            


                <mat-expansion-panel class="addNoteInputDiv" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
               <textarea class="addNoteInput" placeholder=" {{panelOpenState ? 'title' : 'Take a note..'}}" ></textarea> 

                    
                  </mat-panel-title>
                  
                </mat-expansion-panel-header>
                
                      <textarea class="addNoteInput" placeholder="Take a note..."></textarea>
                  
                    
                    

              
                <mat-action-row>
                  
                  <div style="width:85cm">
                  <button mat-icon-button    matTooltip="Remind me">
                    
                        <mat-icon class="add_alert">add_alert</mat-icon>
                      </button>
                    
                    
                      <button mat-icon-button   matTooltip="collaborator">
                          <mat-icon class="person_add">person_add</mat-icon>
                        </button>
                    
                      
                        <button mat-icon-button matTooltip="Change color" >
                          
                            <button mat-icon-button  [matMenuTriggerFor]="palette">
                                <mat-icon class="palette">palette
                               </mat-icon></button>
               <mat-menu #palette="matMenu">
                 <button mat-menu-item>  <button mat-mini-fab></button></button>
                 <button mat-menu-item> <button mat-mini-fab color="primary"></button>
                </button>
                  <button mat-menu-item><button mat-mini-fab color=#64b5f6></button></button>
                 <button mat-menu-item><button mat-mini-fab color="black"></button></button>
                 <button mat-menu-item> <button mat-mini-fab color="green"></button></button>
               

                </mat-menu>
                          </button>
                       
                        
                        <button mat-icon-button matTooltip="Add image" >
                              <mat-icon class="photo">photo</mat-icon>
                            </button> 
                        
                            <button mat-icon-button matTooltip="Archive" >
                                <mat-icon class="archive">archive</mat-icon>
                              </button>
                         
                                <button mat-button [matMenuTriggerFor]="menu" matTooltip="More">
                                    <mat-icon class="more_vert">more_vert</mat-icon>

                                </button>
                            
                                <mat-menu #menu="matMenu">
                                  <button mat-menu-item>add Label</button>
                                  <button mat-menu-item>Show tick boxes</button>
                                </mat-menu>
                              </div>




                                   <button mat-button color="warn" (click)="close()">close</button>
                                  
                </mat-action-row>
                 
              </mat-expansion-panel>
            </mat-accordion>    -->

  <mat-drawer-content>

    <router-outlet>

    </router-outlet>
  </mat-drawer-content>
</mat-drawer-container>