.notes{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.noteCards{

  margin: 10px;

}

.noteCard{

width: 240px;
min-width: 130px;
border: 1px solid #dadce0;

}