.addNote {

    margin: 9px auto 0 auto;
    border: 1px;
    border-color: white;
    box-shadow: 0px 0px 1px 1px grey;
    vertical-align: middle;
    border-style: outset;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
  }
  .mat-icon-button{
    opacity: 0.8;
  }
  .addNoteInputDiv {
  
    margin: auto;
  }
  
  .closeNoteButton {
  
    margin-left: 283px;
  
  
  }
  
  .addNoteInput {
    border: none;
    outline: none;
    resize: none;
    width: 575px;
    font-size: 14px;
  
  }