<div class="addNote">
   
    <div class="addNoteInputDiv">
  
      <textarea class="addNoteInput" placeholder="Title" ></textarea>
  
      <textarea class="addNoteInput" placeholder="Take a note..." ></textarea>
  
    </div>
  
    <!-- <div class="addNoteControlIcon">
  
      <button mat-icon-button matTooltip="Remind me">
        <mat-icon class="mat-18">notifications
        </mat-icon>
      </button>
  
      <button mat-icon-button matTooltip="Collaborator">
        <mat-icon class="mat-18">person_add_outline
        </mat-icon>
      </button>
  
      <button mat-icon-button matTooltip="Change color">
        <mat-icon class="mat-18">color_lens</mat-icon>
      </button>
  
      <button mat-icon-button matTooltip="Add image">
        <mat-icon class="mat-18">photo</mat-icon>
      </button>
  
      <button mat-icon-button matTooltip="Archive">
        <mat-icon class="mat-18">archive</mat-icon>
      </button>
  
      <button mat-icon-button matTooltip="More">
        <mat-icon class="mat-18">more_vert</mat-icon>
      </button>
  
      <button mat-button type="submit" class="closeNoteButton" (click)="addNoteClose()">Close</button>
  
    </div> -->
  
  </div>
 