<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
<!-- <mat-toolbar>  
    <mat-toolbar-row>
      <span>First Row</span>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
      <span>Second Row</span>
    </mat-toolbar-row>
  </mat-toolbar> -->
  <!-- <mat-card-content>
    <h1>ss</h1>
    </mat-card-content> -->
    
    <!-- <mat-card class="example-card">
        <mat-card-content>
          <div class="dashboard-card-menu-icon"></div>
          <div class="dashboard-card-menu-icon"></div>
          <div class="dashboard-card-menu-icon"></div>
          <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
      </mat-card> -->
       
        <!-- Creates a layout with a left-positioned sidenav and explicit content. -->
        <!-- <div class="sideBar">
          <mat-sidenav-container [hasBackdrop]="false">
            <mat-sidenav #sidenav [mode]=push class="sideNav">
              <mat-nav-list>
                <mat-list-item class="navListItems">
                  <button mat-button (click)="onClick">
                    <mat-icon class="mat-18">add</mat-icon>
                    Notes
                  </button>
                </mat-list-item>
                <mat-list-item class="navListItems">
                  <button mat-button (click)="onClick">
                    <mat-icon class="mat-18">notifications_outline</mat-icon>
                    Reminders
                  </button>
                </mat-list-item>
                <mat-list-item class="navListItems">
                  <button mat-button (click)="onClick">
                    <mat-icon class="mat-18">label_outline</mat-icon>
                    Add Label
                  </button>
                </mat-list-item>
                <mat-list-item class="navListItems">
                  <button mat-button (click)="onClick">
                    <mat-icon class="mat-18">archive</mat-icon>
                    Archive
                  </button>
                </mat-list-item>
                <mat-list-item class="navListItems">
                  <button mat-button (click)="onClick">
                    <mat-icon class="mat-18">delete_outline</mat-icon>
                    Trash
                  </button>
                </mat-list-item>
              </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
              addNotes will work here
            </mat-sidenav-content>
          </mat-sidenav-container>
        </div> -->
        
      <mat-toolbar class="dashboardToolBar">
          <div class="iconAndTitle">
        
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon class="mat-18">menu</mat-icon>
            </button>
            
            <img class="fundooIcon" src="/../assets/Keep.png">
        
            <div class="dashboardTitle">FundooNote</div>
        
          </div>
        
          <div class="searchToolBar">
        
            <button mat-icon-button>
              <mat-icon class="mat-18">search</mat-icon>
            </button>
            <input class="searchInputBar" type="text" placeholder="search">
        
          </div>
        
          <div class="endToolBar">
        
            <button mat-icon-button>
              <mat-icon class="mat-18">dashboard</mat-icon>
            </button>
        
          </div>
        
          <button class="accountButton" [matMenuTriggerFor]="accountMenu">S</button>
        
        </mat-toolbar>
        
        
        <mat-menu #accountMenu="matMenu">
          <span>sowndar</span>
          <button mat-menu-item (click)="logout()">
            <mat-icon class="mat-18">power_settings_new</mat-icon> Logout
          </button>
        </mat-menu>
       
        <!-- <mat-sidenav-container class="sidenavBar">
          <mat-sidenav #sidenav mode="side" opened="true" style="min-width:50px;" class="sideNav">
            <mat-nav-list class="sideNavList"> -->
                <mat-drawer-container class="example-container">
                    <mat-drawer #sidenav mode="side" opened="true">
                  <div>
                <button mat-button  (click)="note()" [ngClass]="{'sideNavListItems': headerName!='Fundoo Notes', 'sideNavlistItemsColored': headerName=='Fundoo Notes'}">
                  <mat-icon>lightbulb_outline</mat-icon> Notes
                </button>
              </div>
              <div>
                <button mat-button  (click)="remainder()" [ngClass]="{'sideNavListItems': headerName!='Reminders', 'sideNavlistItemsColored': headerName=='Reminders'}">
                  <mat-icon>notifications_none</mat-icon> Reminders
                </button>
              </div>
              <div>
                <button class="sideNavListItems" mat-button>
                  <mat-icon>edit</mat-icon> Edit Labels
                </button>
              </div>
              <div>
                <button mat-button  (click)="archive()" [ngClass]="{'sideNavListItems': headerName!='Archive', 'sideNavlistItemsColored': headerName=='Archive'}">
                  <mat-icon>archive</mat-icon> Archive
                </button>
              </div>
              <div>
                <button mat-button (click)="trash()" [ngClass]="{'sideNavListItems': headerName!='Trash', 'sideNavlistItemsColored': headerName=='Trash'}">
                  <mat-icon>delete</mat-icon> Trash
                </button>
              </div>
            </mat-drawer>
            <mat-card class="noteInputBar">Take a note</mat-card>
          </mat-drawer-container>
          
            <!-- </mat-nav-list>
          </mat-sidenav>
        </mat-sidenav-container> -->
     