.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
  }
  .noteInputBar {

    /* display: flex;
    padding: 1%; 
    
    border: 2px ;
    width: 40%; */
    width:600px;
    
    margin:0 auto;
    margin-top: 40px;
  }
  