/* .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
  }
  .noteInputBar {

    width:600px;
    
    margin:0 auto;
    margin-top: 40px;
  }
 

.addNoteInputDiv {

  width:600px;
  
  margin:0 auto;
  margin-top: 25px;
}
*/
.addNoteInput {
  border: none;
  outline: none;
  resize: none;
  width: 500px;
  font-size: 14px;

} 
.center{
 
  margin-top: 4%;
  margin-bottom: auto;
  margin-left:auto;
  margin-right: auto;
  width: 58%; 
}.inputclass{

  border: none;
  outline: none;
  resize: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  border: solid 0px transparent;
}


.takeanote{
  resize: none;
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  border: solid 0px transparent;
  
  overflow-y: auto; 
  width: 500px;
  
}
label, input {
  display: block;
}
.label{
  margin-bottom: 10px;
}


.cardresize{

  min-width: 170px;
  min-height:100px;
}.bulb{
  margin-top: 12%;
  margin-bottom: auto;
  margin-left:auto;
  margin-right: auto;
  width: 13%;
  color:rgb(207, 207, 212);
 

    
}
 .textsize{
  margin-top: 1%;
  margin-bottom: auto;
  margin-left:38%;
  margin-right: auto;
  width: 50%;
  font-size: 15px;
  color:rgb(207, 207, 212);

}
.notebarshape{
  border: 1px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 3px 3px 3px #d8d8d8;
}